.ct-btn-next-page {
  padding: 12px 0;
  border-radius: 4px;
  color: var(--text-white);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  background-color: var(--bg-blue);
}